.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  height: 100vh;
  padding: 16px;
}

.header {
  text-align: center;
}

.title {
  margin: 0;
}

.container {

  height: 500px;
  width: 50%;
  background: #ffffff;
  border-radius: 16px;
  overflow-y: auto;
  overflow-x: hidden;
}