:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  color: light-dark(#0d0d0d, #ececec);
  background: light-dark(#f3f3f3, #171717);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  /* display: flex; */
  /* place-items: center; */
  min-width: 620px;
  min-height: 100vh;
}
