.chat {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 100%;
  padding: 8px;
  overflow-y: auto;
}
.message {
  width: 90%;
  padding: 0 16px;
  border-radius: 16px;
  font-size: 14px;
  word-wrap: break-word;
  overflow-wrap: break-word;

  &[data-role="user"] {
    align-self: flex-end;
    background: #f3f3f3;
  }
}


.message pre {
  white-space: pre-wrap;
  word-break: break-word;
  overflow-x: auto;
  max-width: 100%;
}


